$sans: 'source sans pro', sans-serif;
$fresca: 'fresca', sans-serif;
$hind: 'hind', sans-serif;


$position: (
	 rel: relative,
	 abs: absolute,
	 cen: center );

%display{
	display: inline-block;
}
%bold{
	font-weight: bold;
}
%normal{
	font-weight: normal;
}

@mixin button(){
	background-color:$buttonColor;
	color: #ffffff;
	font-family: $font;
	border:none;
	height: 35px;
	width: 100px;
	@extend %bold;
	border-radius: 3px;

}
@mixin link{
	font-family: $hind;
	font-size: 14px;

}


body{
	background-color: $backgroundSection;
	margin: 0;
	padding: 0;
	
	.header{
	height: 505px;
	background: $background;
	background-size: 100% 120%;
	border-bottom-right-radius: 45em 16em;	
	border: none;
	max-width: 100%;
	margin: 0px auto;
	display: block;
	.header-wrap{
		margin-left: 130px;
		
		.landing-logo{
			img{
			@extend %display;
			margin-top: 10px;
			height: 35px;
			width: 35px;
			
		}
			p{
			display: flex;
			@extend %bold;
			font-family: $hind;
			width: $width;
			flex-direction: column;
			margin-left: 45px;
			margin-top: -30px;
			line-height: 15px;
			color: $fontColor;


			}
			span{
				@extend %normal;
				font-family: $font;
				font-size: 7px;
				margin-left: 8px;

			}

		}
		.header_heading{
			font-family: $sans;
			font-size: 50px;
			@extend %bold;
			color: $fontColor;
			line-height: 1em;
			width: 500px;
			position: map-get($position, rel);
        	z-index: 2;
			&::after{
				content: '';
          		height: 30px;
          		width: 210px;
				background-color:  $line-color;
				position: map-get($position, abs);
          		z-index: -1;
          		margin-left: -338px;
          		margin-top: 15px;
			}
		}
		.header_text {
			font-family: $hind;
			color:$fontColor;
			margin-left: -30px;
			font-size: 11px;
			 white-space: pre-wrap;
			 margin-top: -30px;
		}
		.header_button {
			@include button;
			margin-top: 0;
		}
		a {
			@include link;
			margin-left: 100px;
			color: #ffffff;
		}
		

	}

	}

	.section{
		background-color: $backgroundSection;
		.section_text{
			font-family: $hind;
			font-size: 30px;
			@extend %bold;
			color: $fontColor;
			text-align: center;
			position:  map-get($position, rel);
			z-index: 2;
			&::after{
				content: '';
          		height: 35px;
          		width: 140px;
				background-color:  $line-color;
				position:  map-get($position, abs);
          		z-index: -1;
          		margin-left: -148px;
          		margin-top: -2px;
			}


		}

			.section_card_wrap{	

			.section_card{
				
				 font-family: $sans;
                display: flex;
                flex-direction: row;
                background-color: $backgroundCard;
                margin: 10px 30px 10px 270px;
                height: 200px;
                width: 800px;
                border: 13px solid $backgroundCard;
        		border-radius: 6px;

        		.section_card_img{
        			border-radius: 5px;
        			                   
        		}
                
                .section_card_right_container {

                    display: flex;
                    flex-direction: column;
                    line-height: 25px;
                    text-align: center;
                    width: 380px;
                    padding-left:90px;
                    color: #ffffff;
                    font-family: $hind;
                    margin-top: 0;

                    .section_card_heading{
                    	@extend %bold;
                    	font-size: 20px;
                    	margin-bottom: 10px;
                    }
                     .section_card_text{
                     	color: #c4c4bc;
                     	font-size: 14px;
                     	font-family: $font;
                     	text-align: justify;
                     	line-height: 20px;

                     }
                     .section_link{
                     	@include link;
                     	color: #c4c4bc;

                     }
                    
                	
				
                }
                
              }  
				
		
		}

		.section_banner{
			width: 870px;
      		height: 100px;
			display: flex;
      		justify-content: space-around;
      		border-radius: 4px;
      		background: $gradient;      
      		margin: 100px 0 -65px  250px;	
      		z-index: 1;
      		position: map-get($position, rel);	     		

			.section_banner_text_wrap{
			padding-top: 5px;                
            line-height: 2px;

            .section_banner_heading{
            	font-family: $sans;
				font-size: 21px;
				@extend %bold;
				color: $fontColor;
				line-height: 1em;
				width: 500px;
				margin-top: 10px;
				margin-left: 50px;            	
            	z-index: 2;
                    &::after{
				content: '';
          		height: 30px;
          		width: 45px;
          		margin-left: -200px;
          		margin-top: -7px;
				background-color:  $line-color;
				position:  map-get($position, abs);
          		z-index: -1;          		
          		
			}
            }
            .section_banner_text{
            	 color: #c4c4bc;
                 font-family: $hind;
                 margin-left: 50px;
                 font-size: 12px;
            }
           
			}
			.section_banner_button{
				@include button;
				margin-top: 30px;
			}

			}

		
		
	}
	.footer{
		background-color:$backgroundCard;

		.footer-wrap{
			display: flex;
			justify-content: space-around;
			padding-top: 80px;

			.footer_logo{
				color: #c4c4bc;
				

			img{
			@extend %display;
			
			height: 35px;
			width: 35px;		
		}				

			p{
			display: flex;
			@extend %bold;
			font-family: $hind;
			width: $width;
			flex-direction: column;
			margin-left: 40px;
			margin-top: -32px;
			line-height: 15px;
			}
			span{
				@extend %normal;
				font-family: $font;
				font-size: 7px;
				margin-left: 8px;

			}

			}
			.footer_text{
			font-family: $hind;
			font-size: 10px;
			color: #c4c4bc;
			text-align: justify;
			width: 200px;		

			}
			.footer-cr{
			font-family: $hind;
			font-size: 10px;
			color: #c4c4bc;		
			padding-top:20px;
			}
		}
	}

}

