//night theme

$background: url(../img/m-h-night.jpg) no-repeat;
$backgroundSection: #282b3b;
$backgroundCard:#3B3F50;

//fonts
$font: 'fresca', sans-serif;

//colors
$fontColor: #ffffff;
$line-color: #ff5900;
$buttonColor:#ffcc00;
$bannerColor: #ffffff;

$gradient: linear-gradient(90deg, #E1A901, #932D52);

$width: 60px;
