//day theme
$background: url(../img/m-h-day.jpg) no-repeat;
$backgroundSection: #ffffff;
$backgroundCard:#21232E;
//fonts
$font:'hind', sasn-serif;

//colors
$fontColor: #2b2c36;
$line-color:#2b95ff;
$buttonColor:#689409;
$bannerColor: #000000;


$gradient: linear-gradient(90deg, #679704, #2C5ADA);


$width: 75px;