/*1*/
@media print {
  *{
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    margin:auto;
    text-align: center;

    }
     .tm-banner, #tmCarousel, .tm-main-content {
        padding: 0;
    }
           
  .carousel-indicators,
  .tm-sidebar,
  .tm-team-img,
  .boxes,
  .tm-main-nav, 
  .gallery-container, 
  .tm-team-img, 
  .img-fluid, 
  .contact-form, 
  section:nth-child(6) {
    display: none!important;
  }
  .tm-section-description,
    div.tm-content-box,
    .tm-content-box,
    .flex-2-col,
    .padding-medium {
        margin: 0;        
        padding-bottom: 10px;
    }
  .tm-section-description, 
  .padding-medium li{
    font-style: normal;
    }
  .padding-medium{
    padding-bottom: 0;
    padding-top: 0;

  }

  a{
    color: lightskyblue;
      }
  .blocks p:nth-child(3) {
    word-spacing: 10px;
    letter-spacing: 5px;
    font-style: italic;

  }

  .tm-banner{
    padding-bottom: 0;
    padding-top: 0;
  }

  
  li{
    list-style: none;
    text-decoration: none;
  }

  ol li:nth-child(2n+1){
    text-align: right;
    margin-right: 155px;
  }

  ol li:nth-child(2n){
    text-align: left;
    margin-left: 110px;
  }

  h2 {
    text-transform: uppercase;
    color: lightskyblue;
    font-weight: lighter;
  }
  footer {
        padding: 10px 0 0 0;
    }
   .tm-team-description-container{
    text-align: center;
    max-width: 100%;
   }
}


@media screen{
 /*2*/

  .tm-nav-item-link:hover {
  background-color: lightskyblue;
  color: #ffffff;
  }

 /*3*/
 .tm-banner {   
  padding: 2rem;
  position: relative;
  background: linear-gradient(to right, lightskyblue, burlywood);       
  }

  .tm-banner-inner {
  background-color: #ffffff;
  }

 /*4*/
 .tm-banner-text {
  text-shadow: 7px 5.5px 3.5px #333;
  }

  .tm-banner-text {
  animation-duration: 3s;
  animation-name: slidein;
  }

 /*5*/

 @keyframes slidein {
  from {
    margin-left: 200px;
     }

  to {
    width: 50%;
  }
  }

 /*6*/
 .flex-2-col{
    display:flex;
  } 

  .flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-indent: 20px;
  }

 /*7*/
 .tm-box-bg-title:hover {
  background-color: lightgrey;
 }

 /*8*/
 .heading h2 {
  color: lightskyblue;
  text-align: center;
 }

 ol{
  list-style-type:lower-alpha;
 }

 a.text::after{
  content:"New";
  color: red;
  font-weight: bold;
  vertical-align: super;
  font-size: 11px;
  font-variant: small-caps;
  display: inline-block;
 }

 a{
  color: #0398fc;
 }

 .heading li:hover::before{
  content: ">";
  color: black;
  font-weight: bold;
  padding: 1px;
 }


 /*9*/
 .blocks .flex-item{
  align-items: normal;
 }

 .blocks p:nth-child(3) {
    word-spacing: 10px;
    letter-spacing: 5px;
    font-style: italic;
  }
  .blocks p:nth-child(2){
    font-style: normal;
  }

 

 /*10*/
 .box p:first-letter{
  font-weight: bold;
 }

 .blocks p{
  font-style: italic;
 }

 .box-work:nth-child(2n+1){
  background-color: lightskyblue;
 color: white;
 }

 .box-work{
  padding: 10px;
 }

 /*11*/
 p .tm-section-description{
  line-height: 30px;
  text-indent: 25px;
 }

 /*12*/
 .form-group input:focus{
 background-color: lightskyblue;
 }
 
 #contact_name,
 #contact_email,
 #contact_subject{
   border: hidden;
    border-bottom: 1px solid lightskyblue;
 }
 
 #contact_message {
  border: 1px solid lightskyblue;
  background-image: url('../img/email-icon.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 99% 95%;
 }
 .submit-btn{
  border: 1px solid lightskyblue;
  background-color: white;
  color: lightskyblue;
  height: 60px;
  width: 110px;
  float: right;
 }

 /*13*/
 .tm-sidebar,
 #home,
 section {
 box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
 }

 /*14*/
 section::before{

    content: '';
    border-right: 45px solid transparent; 
    border-top: 45px solid lightskyblue;
   }

}


 




